name: 'Releaser'
on:
  push:
    branches: ['master']
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'
      - name: Install dependencies
        run: yarn --frozen-lockfile
      - name: Build
        run: yarn build
      - name: Release
        id: release
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git add -f dist
          npm version minor --force -m "Bump version to %s"
          version=$(node -p -e "require('./package.json').version")
          echo "PACKAGE_VERSION=$version" >> $GITHUB_OUTPUT
          git push --follow-tags -f
      # Create a release
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
            tag_name: ${{ steps.release.outputs.PACKAGE_VERSION }}
            release_name: Release ${{ steps.release.outputs.PACKAGE_VERSION }}
            draft: false
            prerelease: false


